* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f879ff;
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

.container h1 {
    color: #811877;
}

.container label {
    background-color: #f879ff;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}